.connectWallet {
  position: absolute;
  right: 150px;
  transform: translateX(50%);
}

.connectWallet a {
  font-family: Audiowide;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0px 0px 9px #b0ffff;
  /* position: absolute; */
  /* top:-2px; */
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  min-width: 200px;
  position: relative;
}

.connectWallet a .linkBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: 4px solid rgba(116, 9, 182, 0.53);
  filter: blur(1px) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  outline: 1px solid #d52f8e;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.connectWallet a:hover {
  transition: 0.5s;
  text-shadow: 0px 0px 13px #b0ffff;
  transform: scale(1.1);
}

@media (max-width: 767.98px) {
  .connectWallet {
    position: relative;
    height: 150px;
  }
}
